/*
 * BODY
 * ---------------------------- */
html,body{height:100%}
    #container{
    height:100%;
    min-height:100%;
    background:red;
    }
    html>body #container{height:auto}/* not ie6- */

body {
    font-family: Arial;
    font-size: 13px;
    background: #19556f;
    height:100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
    text-transform: uppercase;
}

h3 {
    font-size: 20px;
}

input, textarea, select  {
    display: block;
    margin-bottom: 5px;
}

/*
 * TOPBAR
 * ---------------------------- */
.topbar {
	position:fixed;
	top:20px;
	left:0px;
	width:100%;
    height: 30px;
    background: #000;
    color: #fff;
}

.topbar a {
    color: #fff;
    font-family: Arial;
    font-size: 14px;
    /*font-style: italic;*/
    text-decoration: none;
}

.topbar ul {
    list-style-type: none;
    margin-top: 0px;
    padding: 0px;
}

.topbar li {
    display: inline;
}

.topbar .right:last-child {
    padding-right: 5px;
}

.topbar #logout-topbar {
    margin-left: 10px;
}

.topbar .right {
    float: right;
    margin: 0 auto;
}

.topbar-inner {
    width: 940px;
    line-height: 30px;
    margin: 0 auto;
}

.topbar #topAvatar {
    padding-top: 3px;
    margin-right: 5px;
}

/*
 * CONTAINER
 * ---------------------------- */
.container {
    width: 940px;
    background: #fff;
    padding: 10px;
    margin: 0 auto;
    background-image:url('../image/paper.png');
	background-repeat:no-repeat;
	height:100%;
	overflow:visible;
}

a {
    color: #000;
}

#activePage {
    font-weight:bold;
}

/*
 * SEARCH
 * ---------------------------- */

.content .search {
    text-align: center;
    margin: 100px 0 100px;
}

.content .search img {
    display: block;
    margin: 0 auto 60px auto;
}

.content .search input[type="text"] {
    width: 250px;
    margin-bottom: 10px;
    display: inline;
}

.content .search input[type="submit"] {
    border: 0;
    background: #0d3b51;
    color: #fff;
    padding: 3px 10px;
    display: inline;
}

.content .search a {
    font-style: italic;
}

.content .search .langDropdown {
    padding: 2px;
    text-align: left;
    display: inline;
}

/*
 * SNIPPET LIST
 * ---------------------------- */
.snippet-list-item {
    border-top: dashed 1px #ddd;
    margin: 5px 5px;
    width:930px;
    text-align:center;
    
}

.snippet-title {
    font-size: 18px;
    text-transform: uppercase;
    margin: 5px 0;
}

.snippet-title a {
    text-decoration: none;
}

.snippet-description {
    font-size: 15px;
    margin: 5px 0;
}

.snippet-list-item .snippet-author, .snippet-tags {
    font-size: 12px;
}

.snippet-description:first-letter, .snippet-author:first-letter {
    text-transform: capitalize;
}

.snippet-tags {
    margin: 5px 0 10px;
}

/*
 * SNIPPET SINGLE VIEW
 * ---------------------------- */

 #report-wrap textarea{
    width: 250px;
    height: 100px;
 }

/*
 * RATING
 * ---------------------------- */

#rating {
    margin: 10px 0;
}

#rating button {
    background: none;
    border: none;
}

#ratingbars {
    width: 200px;
    height: 5px;
    background: #CCCCCC;
    border: solid 1px #000;
    margin: 5px 0;
}

#ratingbars #likes { 
    background-color: #7FAF1B;
    float: left;
    height: 5px;
}

#ratingbars #dislikes {
    background-color: #A40802;
    float: left;
    height: 5px;
}

#message {
    clear: both;
}

/*
 * CODE
 * ---------------------------- */
.snippet-code {
    font-size: 13px;
    margin: 10px 0;
}

code ol {
    list-style-type: decimal;
    margin-left: 50px;
}

/*
 * COMMENTS
 * ---------------------------- */
textarea {
    width: 500px;
    height: 200px;
}

.comments {
    border-top: solid 3px #ddd;
    padding: 5px;
    margin: 5px 0;
}

.snippet-author, .comments .date {
    font-weight: bold;
    display: inline;
}

.comments .date {
    float: right;   
}

.comments .text {
    word-wrap: break-word;
    margin-top: 10px;
}

/*
 * BLOG
 * ---------------------------- */

.blogpost-title {
    font-size: 18px;
    text-transform: uppercase;
    margin: 5px 0;    
}

.blogpost-title a{
    text-decoration: none;   
}

.blog-content {
    border-top: dashed 1px #ddd;
    border-bottom: dashed 1px #ddd;
    padding: 10px 0 10px 0;  
}

.blogpost-author {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;    
}

.blogpost-list-item {
    border-top: dashed 1px #ddd;
    margin: 5px 0;    
}

.blogpost-edit {
    font-weight: bold;
    margin-top: 10px;
}

.blogpost-edit a{
    text-decoration: none;    
}

.blogpost-read-more {
    font-style: italic;
}
/*
 * PROFILE
 * ---------------------------- */

#profile-menu {
    margin-top: 50px;
    padding: 0px;
    width: 100%;
    border-bottom: #121212 1px solid;
}

#profile-menu a{
    text-decoration: none;
}

#profile-menu li {
    padding: 5px;
    margin-right: 10px;
    display: inline-block;
    border: #121212 1px solid;
    border-bottom: none;
}

#profile-menu li:first-child {
    margin-left: 70px;
}

#profile-menu li:hover {
    background-color: gray;
}

#user-activity {
    float: left;
    margin-left: 50px;
}

#user-activity h3 {
    font-size: 24px;
}

#profile-stats {
    float: left;
    width: 250px;
    border-right: 1px solid black;
}

#setting-wrapper h4 {
    background-color: blue;
    width: 550px;
    padding: 5px 0 5px 0;

    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C4C4C4), to(#FFFFFF));
    background: -webkit-linear-gradient(top, #F2F2F2, #DBDBDB);
    background: -moz-linear-gradient(top, #C4C4C4, #FFFFFF);
    background: -ms-linear-gradient(top, #C4C4C4, #FFFFFF);
    background: -o-linear-gradient(top, #C4C4C4, #FFFFFF);
}

#setting-wrapper p {
    margin:0px;
    padding:0px;
}

/*
* REPORTED SNIPPETS
* ---------------------------- */

.reported-snippet {
    border-top: 1px solid gray;
    width: 550px;
    padding: 5px 5px 7px 10px;
}

.reported-snippet:nth-child(odd) {
    background-color: #F0F0F0;
}

.reported-snippet h4 {
    margin: 0px;
    margin-bottom: 5px;
    padding: 0px;
    font-size: 15px;
}

.reported-snippet:last-child {
    border-bottom: 1px solid gray;
}

.reported-message {
    margin-left: 5px;
    float: left;
    padding-bottom: 7px;
    width: 370px;
}

.reported-message p {
    padding-top: 2px;
    padding-left: 5px;
}

.reported-gravatar {
    float: left;
}

.reported-link {
    float: right;
    margin-top: -15px;
}

.reported-delete img {
    margin-top: 5px;
    float: right;
}

/*
* INFO POPUP
* ---------------------------- */

#info-popup-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    z-index: 10;
}

#info-popup {
    position: absolute;
    padding: 1px 5px 5px 5px;
    width: 250px;
    min-height: 50px;
    background-color: white;
    z-index: 20;
}

#info-popup h4 {
    margin: 0px;
    width: 100%;
    padding: 4px 0px 0px 0;
    text-align: center;
    background-color: green;
}

#info-popup p {
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
}

#info-popup img {
    position: absolute;
    right: -20px;
    top: -15px;
}

.clear {
    clear: both;
}

#result img {
	position:relative;
	bottom:142px;
	left:610px;
}
#result {
	background:white;
	width:940px;
	padding:10px;
	margin-left:-10px;
	padding-bottom:100px;
}

/*
  * Learn more
  * ---------------------------- */
  
#learn-more-wrap{
	position: fixed;
	top: -35px;
	width: 100%;
	color: white;
	background-color: black;
	padding-bottom: 50px;
	padding-top: 100px;
	height: 100%;
}  
#learn-more-content {
	width: 600px;
	margin: 40px auto;
	font-family: 'courier new';
}
#learn-more-content p{
	padding: 10px;
	font-size: 16px;
}
footer {
	position: fixed;
	bottom: 0px;
	padding: 5px;
	text-align: center;
	background: black;
	color: white;
	width: 100%;
}
/*
  * mail
  * ---------------------------- */
.mail{
	width:500px;
	margin:auto;
}
#formail{
	width: 500px;
	margin: auto;
}
#formail label{
	display: block;
	margin: 10px 0;
}
#text{
	background: #f8f8f8;
}
#sendmail{
	margin-top: 20px;
	display: block;
}
#response{
	display: none;
	border: 1px solid #ccc;
	background: #FFFFA0;
	padding: 10px;
	width: 450px;
}
#hidden{
    display: none;
}
