/*
 * BODY
 * ---------------------------- */
html,body{height:100%}
    #container{
    height:100%;
    min-height:100%;
    background:red;
    }
    html>body #container{height:auto}/* not ie6- */

 
 
body {
    font-family: Arial;
    font-size: 13px;
    background: #19556f;
    height:100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
    text-transform: uppercase;
}

h3 {
    font-size: 20px;
}

input, textarea, select  {
    display: block;
    margin-bottom: 5px;
}

/*
 * TOPBAR
 * ---------------------------- */
.topbar {
    height: 30px;
    background: #041721;
    color: #fff;
}

.topbar a {
    color: #fff;
    font-family: Arial;
    font-size: 14px;
    /*font-style: italic;*/
    text-decoration: none;
}

.topbar ul {
    list-style-type: none;
}

.topbar li {
    display: inline;
}

.topbar .right:last-child {
    padding-right: 5px;
}

.topbar #logout-topbar {
    margin-left: 10px;
}

.topbar .right {
    float: right;
    margin: 0 auto;
}

.topbar-inner {
    width: 940px;
    line-height: 30px;
    margin: 0 auto;
}

.topbar #topAvatar {
    padding-top: 3px;
    margin-right: 5px;
}

/*
 * CONTAINER
 * ---------------------------- */
.container {
    width:  940px;
    background: #fff;
    padding: 10px;
    margin: 0 auto;
    background-image:url('../image/paper.png');
	background-repeat:no-repeat;
	min-height:90%;
}

a {
    color: #000;
}

#activePage {
    font-weight:bold;
}

/*
 * SEARCH
 * ---------------------------- */

.content .search {
    text-align: center;
    margin: 100px 0 100px;
}

.content .search img {
    display: block;
    margin: 0 auto 60px auto;
}

.content .search input[type="text"] {
    width: 250px;
    margin-bottom: 10px;
    display: inline;
}

.content .search input[type="submit"] {
    border: 0;
    background: #0d3b51;
    color: #fff;
    padding: 3px 10px;
    display: inline;
}

.content .search a {
    font-style: italic;
}

.content .search .langDropdown {
    padding: 2px;
    text-align: left;
    display: inline;
}

/*
 * SNIPPET LIST
 * ---------------------------- */
.snippet-list-item {
    border-top: dashed 1px #ddd;
    margin: 5px 5px;
    width:930px;
    text-align:center;
    
}

.snippet-title {
    font-size: 18px;
    text-transform: uppercase;
    margin: 5px 0;
}

.snippet-title a {
    text-decoration: none;
}

.snippet-description {
    font-size: 15px;
    margin: 5px 0;
}

.snippet-list-item .snippet-author, .snippet-tags {
    font-size: 12px;
}

.snippet-description:first-letter, .snippet-author:first-letter {
    text-transform: capitalize;
}

.snippet-tags {
    margin: 5px 0 10px;
}

/*
 * RATING
 * ---------------------------- */

#rating {
    margin: 10px 0;
}

#rating button {
    background: none;
    border: none;
}

#ratingbars {
    width: 200px;
    height: 5px;
    background: #CCCCCC;
    border: solid 1px #000;
    margin: 5px 0;
}

#ratingbars #likes { 
    background-color: #7FAF1B;
    float: left;
    height: 5px;
}

#ratingbars #dislikes {
    background-color: #A40802;
    float: left;
    height: 5px;
}

#message {
    clear: both;
}

/*
 * CODE
 * ---------------------------- */
.snippet-code {
    font-size: 13px;
    margin: 10px 0;
}

code ol {
    list-style-type: decimal;
    margin-left: 50px;
}

/*
 * COMMENTS
 * ---------------------------- */
textarea {
    width: 500px;
    height: 200px;
}

.comments {
    border-top: solid 3px #ddd;
    padding: 5px;
    margin: 5px 0;
}

.snippet-author, .comments .date {
    font-weight: bold;
    display: inline;
}

.comments .date {
    float: right;   
}

.comments .text {
    word-wrap: break-word;
    margin-top: 10px;
}

/*
 * PROFILE
 * ---------------------------- */

 #profile-menu {
    margin-top: 0px;
    padding: 0px;
    width: 100%;
    border-bottom: #121212 1px solid;
 }

 #profile-menu a{
    text-decoration: none;
 }

 #profile-menu li {
    padding: 5px;
    margin-right: 10px;
    display: inline-block;
    border: #121212 1px solid;
    border-bottom: none;
 }

 #profile-menu li:first-child {
   margin-left: 110px;
 }

 #profile-menu li:hover {
    background-color: gray;
 }

 #user-activity {
    float: left;
    margin-left: 50px;
 }

 #profile-stats {
    float: left;
    width: 250px;
    border-right: 1px solid black;
 }

 /*
  * INFO POPUL
  * ---------------------------- */

 #info-popup-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    z-index: 10;
 }

 #info-popup {
    position: absolute;
    padding: 1px 5px 5px 5px;
    width: 250px;
    min-height: 50px;
    background-color: white;
    z-index: 20;
 }

 #info-popup h4 {
    margin: 0px;
    width: 100%;
    padding: 4px 0px 0px 0;
    text-align: center;
    background-color: green;
 }

 #info-popup p {
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
 }

 #info-popup img {
    position: absolute;
    right: -20px;
    top: -15px;
 }

 .clear {
    clear: both;
}

#result img {
	position:relative;
	bottom:130px;
	left:610px;
}
